*{
  padding: 0;
  margin: 0;
  font-family: "Karla", Helvetica, sans-serif;
}


.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
  /* max-width: 860px;
  margin: 0 auto; */
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  width: 100vw;
  margin-bottom: 24px;
  z-index: 1000;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  max-width: 860px;
  margin: 0 auto;
}

.logo {
  width: 200px;
}

/* @media(min-width:771px){ */
  .nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 25px;
    flex-grow: 1;
  }



.nav-item{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-wrap: nowrap;
  color: black;
}

.nav-item button{
  font-size: 16px;
  font-weight: bold;
  text-wrap: nowrap;
  color: white;
  background-color: #495E57;
  width: 136px;
  height: 32px;
  border: none;
  border-radius: 8px;
}

.nav-item button:hover{
  background-color: #34443f;
}

.nav-item button:active{
  background-color: #25302d;
}


main {
  grid-row: 2;
  width: 100%;
}

.hero-container{
  background-color: #495E57;
  width: 100vw;
}

.hero-items-container{
  display: flex;
  justify-content: space-between;
  gap: 60px;
  max-width: 860px;
  margin: 0 auto;
}

.hero-text-container{
  padding-top: 56px;
}

.hero-container h1{
  color: #F4CE14;
  font-family: 'Markazi Text';
  font-size: 64px;
  font-weight: lighter;
  margin-top: -18px;
}

.hero-container h2{
  color: white;
  font-family: 'Markazi Text';
  font-size: 40px;
  font-weight: lighter;
  margin-top: -10px;
}

.hero-container p{
  color: white;
  font-size: 18px;
  margin: 20px 0px 40px 0px;
  font-weight: lighter;
}

.hero-container img{
  object-fit: cover;
  height: 350px;
  width: 350px;
  border-radius: 16px;
  position: relative;
  top: 56px;
}

.button-container{
  display: flex;
  gap: 25px;
}

.button{
  color: black;
  background-color: #F4CE14;
  border: none;
  border-radius: 16px;
  padding: 14px 18px 14px 18px;
  font-size: 24px;
  text-wrap: nowrap;
}

.button:hover{
  background-color: #b99d0f;
  color: black;
}

.button:active{
  background-color: #826e0b;
  color: black;
}

.highlights-container{
  margin-top: 128px;
  width: 100vw;
}

.highlights-items-container{
  max-width: 860px;
  margin: 0 auto;
}

.specials-name{
  display: flex;
  justify-content: space-between;
}

.specials-name h1{
  font-family: "Markazi Text";
  font-size: 48px;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
}

.specials-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 46px;
  margin-top: 60px;
}

.special{
  background-color: #EDEFEE;
  border-radius: 16px 16px 0px 0px;
}


.special img{
  grid-area: img;
  width: 100%;
  height: 184px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.special h3{
  grid-area: name;
}

.special-text{
  display: grid;
  grid-template-areas:
  "name price"
  "description description"
  "order order";
  row-gap: 20px;
  padding: 15px;
}

.price{
  grid-area: price;
  justify-self: end;
}

.description{
  grid-area: description;
}

.order{
  grid-area: order;
}

.testimonials-container{
  background-color: #FAF5EF;
  margin-top: 72px;
}

.testimonials-items-container{
  max-width: 860px;
  margin: 0 auto;
}

.testimonials-container h1{
  padding-top: 145px;
  text-align: center;
  font-family: "Markazi Text";
  font-size: 48px;
  font-weight: lighter;
}

.reviews-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 120px 0px;
}

.review{
  background-color: white;
  border-radius: 16px;
  padding: 20px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review p{
  font-size: 14px;
}

.photo-name{
  display: flex;
  align-items: center;
  gap: 20px;
}

.photo-name img{
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.name-username{
  display: flex;
  flex-direction: column;
}

.name-username h3{
  font-size: 16px;
}

.name-username h4{
  font-size: 16px;
  color: #8D8D8D;
}

.about-container{
  margin: 120px 0px;
  gap: 20px;
}

.about-items-container{
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about-description h1{
  color: #F4CE14;
  font-family: "Markazi Text";
  font-size: 64px;
  font-weight: lighter;
}

.about-description h2{
  font-family: "Markazi Text";
  font-size: 40px;
  font-weight: lighter;
}

.about-description p{
  font-size: 16px;
  font-weight: lighter;
}

.about-photos{
  display: flex;
}

.about-photos img{
  width: 260px;
  height: 296px;
  object-fit: cover;
  border-radius: 16px;
}

.image2{
  position: relative;
  top: 120px;
  left: 95px;
  z-index: -1;
}

.reservation-header-container{
  max-width: 860px;
  margin: 0 auto;
  font-family: "Markazi Text";
  font-size: 48px;
  font-weight: lighter;
  padding-bottom: 16px;
}

.day-container{
  background-color: #EDEFEE;
  padding: 30px 0px;
}

.day-items-container{
  max-width: 860px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "date-month"
    "days";
  row-gap: 30px;
}

.h3-header{
  font-size: 24px;
}

.month{
  color: #8D8D8D;
}

.date-month{
  grid-area: date-month;
  display: flex;
  justify-content: space-between;
}

.days{
  grid-area: days;
  display: flex;
  justify-content: space-evenly;
  gap: 19px;
}

.day{
  background-color: #495E57;
  border: none;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.day p{
  font-size: 12px;
  color: white;
}

.day h4{
  font-size: 20px;
  color: white;
}

.time-container{
  max-width: 860px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header"
    "time-slots";
}

.available-slots{
  grid-area: header;
}

.time-slots{
  grid-area: time-slots;
  display: grid;
  gap: 28px;
}

.time-slot{
  background-color: #EDEFEE;
  width: 82px;
  height: 24px;
  border-radius: 8px;
  text-align: center;
  line-height: 24px;
}

.user-form-container{
  max-width: 860px;
  margin: 0 auto;
}

.user-form{
  display: flex;
  flex-direction: column;
}

.label{
  font-size: 18px;
}

.input{
  background-color: #EDEFEE;
  height: 36px;
  border-radius: 8px;
  border: none;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 8px 0 32px 0;
  font-size: 16px;
  padding: 0 20px;
}

.notes{
  height: 145px;
  padding: 20px;
  resize: none;
}

footer {
  grid-row: 3;
  grid-column: 1 / -1;
  background-color: #EDEFEE;
  width: 100vw;
  padding: 80px 0px;
}

.footer-items-container{
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

footer img{
  width: 160px;
}

.footer-text-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-links{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.footer-text h3{
  font-size: 18px;
  font-weight: bold;
  color: #495E57;
}

.footer-text p{
  font-size: 16px;
  color: #495E57;
}

.footer-text a{
  text-decoration: none;
  color: #495E57;
}

